#kk {
    text-align: center;
    margin-bottom: 90px;
}

#kk1 {
    width: 400px;
    height: 200px;
    border: 1px solid blue;
    background-color:chartreuse;
    float: left;
    margin-right: 30px;
    margin-left: 30px;
    font-size: x-large;
    position: relative;
}
#kk1 #kkk1 {
    width: 100px;
    height: 30px;
    background-color:darkgray;
    border: 1px solid black;
    float: right;
    text-align: center;
    

}
#kk2 {



    width: 400px;
    height: 200px;
    border: 1px solid blue;
    background-color:chocolate;
    color: blanchedalmond;
    float: left;
    margin-right: 30px;
    font-size: x-large;
}
#kk2 #kkk2 {
    width: 100px;
    height: 30px;
    background-color:darkgray;
    border: 1px solid black;
    float: right;
    color: black;
    text-align: center;
    

}
#kk3 {

    width: 400px;
    height: 200px;
    border: 1px solid blue;
    background-color: black;
    color: blanchedalmond;
    float: left;
    font-size: x-large;


}
#kk3 #kkk3 {
    width: 100px;
    height: 30px;
    background-color:darkgray;
    border: 1px solid black;
    float: right;
    color: black;
    text-align: center;
    

}
/*extra larger devices only */
  @media (min-width: 1275px) and (max-width :1330px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
      border: 1px solid green;
    }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 74.99%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }
    #kk1 {
        margin-right: 90px;
    }
    #kk3 {
        overflow: hidden;
        width: 100%;
        margin-top: 30px;
     }   }

  /********** Large devices only **********/
  @media (min-width: 1274px)  {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
      border: 1px solid green;
    }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 74.99%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }
    #kk3 {
        overflow: hidden;
     }   }
   
  
  /********** Medium devices only **********/
  @media (min-width: 992px) and (max-width: 1274px)
  {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
      border: 1px solid green;
    }
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 74.99%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }
    #kk1 {
        margin-right: 90px;
        margin-bottom: 20px;
    }
    #kk2 {
        margin-right: 30px;
    }
    #kk3 {
        margin-top: 30px;
        overflow: hidden;
        width: 100%;
    }    
    
  }
  /*small devices only*/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
      border: 1px solid green;
    }
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 74.99%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }
    #kk1 {
        width: 90%;
        margin-left: auto;
        margin-bottom: 10px;
    }
    #kk2 {
        width: 90%;
        margin-bottom: 10px;
        
    }
    #kk3 {
        width: 90%;
        margin-bottom: 10px;
        overflow: hidden;
     
    }
   
   



        
  
  }
  /*extra small devices */
  @media (max-width: 767px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
      border: 1px solid green;
    }
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 74.99%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }
    #kk1 {
        width: 90%;
        margin-left: auto;
        margin-bottom: 10px;
    }
    #kk2 {
        width: 90%;
        margin-bottom: 10px;
        
    }
    #kk3 {
        width: 90%;
        margin-bottom: 10px;
        overflow: hidden;
    }
   
  }